@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f7f4e9; /* beige doux */
	--foreground: #1f432d; /* vert foncé */
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
