@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f7f4e9; /* beige doux */
	--foreground: #3b6024; /* vert foncé */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a; /* Fond noir profond */
		--foreground: #f7f4e9; /* Texte beige doux */
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
